*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* .body-container{
    padding-bottom: 200px;
} */
 #header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.carousel{
    position: relative;
    overflow: hidden;
}

.carousel .images{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 600px;
    transition:  transform 0.7s ease-in-out ;
}

.carousel button{
    position: absolute;
    /* margin: 0 40px; */
    top: 70%;
    left: 40%;
    border-radius: 20px;
    bottom: 30px;
    background: red;
    height: 50px;
    width: 150px;
    border: none;
    transition: .5s;
}

.carousel button:hover{
    background: rgb(6,35,56);
}

.carousel button a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.carousel button a:hover{
    padding-left: 5px;
}

.carousel button i{
    color: #ffff;
}


.slider-item{
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.fleches{
    position: absolute;
    width: 100%;
    padding-left: 10px;
    top: 300px;
    color: rgb(227,7,19);
    cursor: pointer;
}

#droite{
    float: right;
    padding-right: 20px;
}

.slogan{
    position: absolute;
    width: 100%;
    top: 300px;
    /* padding-left: 20%;
    padding-right: 20%; */
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
} 

.about-us{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.about-img img{
    height: 400px;
    width: 400px;
    border-radius: 15px;
}

.about-desc{
    padding-top: 60px;
    padding-left: 20px;
    line-height: 1.6;
}

.about-desc .us{
    color: #ec1839;
    font-size: 17px;
}

.about-desc h2 span{
    color: #ec1839;
}

.about-desc .desc{
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.about-desc  li{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

 .about-desc li i{
    color: #ec1839;
}

 .about-desc .phone{
    color: rgb(0, 0, 0);
    font-size: 18px;
 }

.about-desc .phone i{
    color: #ec1839;
  }

.btn-us {
    height: 40px;
    width: 150px;
    padding: 8px;
    background: #ec1839;
    color: #ffff;
    border-radius: 15px;
}

.btn-us a{
    color: #ffff;
}



/* courses section */

.courses-container .title .cs, .csp span{
    margin-bottom: 10px;
    color: #ec1839;
}

.courses-container{
    margin: 15px;
    background: #eff2f5;
    text-align: center;
    border-radius: 30px;
}

.box-courses{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding: 15px;
}

.box{
    background: #fefefe;
    height: 400px;
    border-radius: 30px;
    transition: .5s ease-in-out;
}

.box:hover{
    transform: translateY(20px);
}


.box .content img{
    width: 100%;
    height: 200px;
    padding:  10px;
    border-radius: 30px;
}


.box .content .stat{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box .content .stat i{
    color: #ec1839;
    font-size: 13px;
    padding-bottom: 10px;
}

.box .content .text{
    padding-left: 10px;
    text-align: left;
    padding-bottom: 10px;
    text-transform: capitalize;
} 
.box .content .text h2{
    padding-bottom: 10px;
}

.box .content .t{
    text-align: left;
}

.tuto{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.info{
    display: flex;
    gap: 4px;
}

.info .toph img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}
.info .prof{
    padding-left: 4px;
    padding-top: 6px;
}

.tuto .btn{
    margin-top: 5px;
    padding: 10px;
    width: 100px;
    height: 40px;
    background: #ec1839;
    border-radius: 15px;
}


.tuto .btn a{
    color: #ffff;
}

/* statistiques */

.statistics{
    background: orange;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 90px;
    margin: 15px;
    border-radius: 15px;
}


.stat-item .blog{
    position: relative;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.stat-item .blog img{
    position: absolute;
    /* border-radius: 20px; */
    width: 100%;
    height: 100%;
}


.stat-item .stat-desc .hp{
    font-size: 70px;
    color: #080808;
}

.stat-item .stat-desc p{
    font-size: 20px;
    color: #080808;
}

/* Pricing */
.pricing{
    margin-top: 20px;
    background: #fefefe;
    padding-left: 0;
    padding: 0px;
}

.pricing .price-h h3, h1{
    text-align: center;  
    color: #ec1839;
}

.pricing .price-h, h1 span{
    color: #000;
}
.price-main{
    display: grid;
    grid-template-columns: repeat(3,31%);
    grid-gap: 20px;
    background: #eff2f5;
    border-radius: 15px;
    margin-left: 0px;
    padding-left: 0px;
}

.price-main .price-box{
    background: #fefefe;
    height: 600px;
    width: 400px;
    margin: 30px;
    
    border-radius: 15px;
    transition: .5s ease-in-out;
}

.price-main .price-box:hover{
    transform: translateY(10px);
}

.price-box .pic{
    position: relative;
}
.price-box .pic img{
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
}

.price-box .pic .pic-text{
    position: absolute;
    top: 160px;
    left: 100px;
    margin-left: 30px;
    color: #ffff;
    font-size: 30px;
}

.pack{
    position: absolute;
    width: 150px;
    height: 100px;
    top: 220px;
    left: 140px;
    padding: 15px;
    color: #ec1839;
    font-size: 17px;
    font-weight: bold;
    background: #ffffff;
    border-radius: 15px;
    border: 5px solid #ec1839;
}

.pack .pc{
    text-align: center;
}
.pack .pc p{
    padding-left: 10px;
}

.packlist{
    margin: 50px  50px 20px 50px ;
    padding-left: 30px;
}

.packlist li{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.enroll-btn {
    width: 200px;
    padding: 13px;
    margin-left: 86px;
    border-radius: 15px;
    background: #ec1839;
    color: #ffff;
    transition: .5s ease-in-out;
}

.enroll-btn a{
    color: #ffff;
}


/* LOGIN BOX */

.main-log{
    margin-top:100px;
    background:#ec1839;
    padding: 15px;
    height: 500px;
}

.login{
    background:rgb(51, 92, 109);
    width: 450px;
    height: 100%;
    margin-left: 64%;
}
.text-log{
    padding: 15px;
}

.text-log h1{
    text-align: left;
    color: #ffff;
    padding-bottom: 5px;
}

.login form{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-gap: 20px;
    padding-left: 15px;
}

.login form input{
    height: 40px;
    border: none;
}

.login form select{
    border: none;
}

.login form textarea{
    width: 420px;
    height: 100px;
    border: none;
}

.login form button{
    width: 100px;
    height: 30px;
    background: #ec1839;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

/* Testimonials */

.slider{
    background: #eff2f5;
    height: 370px;
}

.slider h3{
    text-align: center;
}


.slide{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    gap: 50px;
}

.card {
    background: #fefefe;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid  rgb(82, 78, 74);
    transition: .5s ease-in-out;
}

.card:hover{
    transform: translateY(20px);
}

.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 80px;
}


/* company */
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.company{
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
}

.company:hover .cont{
    animation-play-state: paused;
}

.cont{
    display: inline-block;
    animation: 5s slide infinite linear;
}
.cont img{
height: 50px;
margin: 0 80px;
}



/* ========== Responsive Mobile ============== */

@media screen and (max-width:768px) {
    

.about-us{
    margin: 2rem;
    display: block;
    flex-direction: column;
}
.about-img{
    height: 30rem;
    width: 30rem;
    margin-left: 2rem;

}

.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    margin-left: 4rem;
}

.about-desc{
    padding-top: 60px;
    padding-left: 5rem;
    line-height: 1.6;
    width: 40rem;
}

.about-desc .us{
    color: #ec1839;
    font-size: 1rem;
}



.about-desc .desc{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.about-desc  li{
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
}



 .about-desc .phone{
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
 }



.btn-us {
    height: 3rem;
    width: 8.1rem;
    padding: 8px;
    border-radius: 15px;
}

.btn-us a{
    font-size: 1rem;
}

/* ============================== */




.courses-container .title .cs, .csp span{
    margin-bottom: 1rem;
    color: #ec1839;
}

.courses-container{
    margin-left: 6rem;
    background: #eff2f5;
    text-align: center;
    border-radius: 30px;
    width: 40rem;
}

.box-courses{
    display: block;
    padding:1.6rem;
}

.box{
    background: #fefefe;
    height: 100%;
    border-radius: 30px;
    margin-bottom: 1rem;
    transition: .5s ease-in-out;
}



.box .content img{
    width: 100%;
    height: 100%;

}


.box .content .stat{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box .content .stat i{
    font-size: 2rem;
}

.box .content .text{
    padding-left: 10px;
    text-align: left;
    font-size: 1rem;
    text-transform: capitalize;
} 

.box .content .t{
    font-size: 1.2rem;
}


.info{
    display: flex;
    gap: 4px;
}

.info .toph img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}
.info .prof{
    padding-left: 4px;
    padding-top: 6px;
    font-size: 1.2rem;
}

.tuto .btn{
    font-size: 1rem;
}

/* ========================= */

.statistics{
    width: 40rem;
    background: orange;
    margin-left: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.stat-item{
    width: 5rem;
    /* margin-right: 2rem; */
}


.stat-item .blog{
    position: relative;
    border-radius: 10px;
    margin-right: 1rem;
}




.stat-item .stat-desc .hp{
    font-size: 3rem;
    margin-left: 1.5rem;
}

.stat-item .stat-desc p{
    font-size: 1.2rem;
    margin-left: 1.5rem;
}

/* ================= */

.pricing{
    margin-top: 20px;
    background: #fefefe;
}

.pricing .price-h h3, h1{
    text-align: center;  
    color: #ec1839;
}

.pricing .price-h, h1 span{
    color: #000;
}
.price-main{
    display: block;
    flex-direction: column;
    background: #eff2f5;
    margin-left: 6.5rem;
    width: 40rem;
    padding-left: 1rem;
}

.price-main .price-box{
    background: #fefefe;
    width: 90%;
    transition: .5s ease-in-out;
}


.price-box .pic{
    position: relative;
    width: 400px;
}
.price-box .pic img{
    width: 90%;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 5rem;
}

.price-box .pic .pic-text{
    position: absolute;
    top: 160px;
    left: 10rem;
    font-size: 2rem;
}

.pack{
    position: absolute;
    width: 100%;
    top: 50%;
    /* padding-left: 15%; */
    width: 150px;
    height: 100px;
    top: 220px;
    left: 11rem;
    padding: 15px;
}

.pack .pc{
    text-align: center;
}
.pack .pc p{
    padding-left: 10px;
}

.packlist{
    margin-left: 6.5rem  ;
}

.packlist li{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.enroll-btn {
    width: 200px;
    padding: 13px;
    margin-left: 8rem;
    font-size: 1rem;
}



/* LOGIN BOX */

.main-log{
    margin-top:100px;
    background:#ec1839;
    margin: 6rem;
    height: 32rem;
    border-radius: 1rem;
    width: 40rem;
}

.login{
    background:rgb(51, 92, 109);
    height: 100%;
    margin-left: 5rem;
}


.text-log h1{
    font-size: 2rem;
}

.text-log{
    font-size: 1.4rem;
}



.login form input{
    height: 40px;
    border: none;
    font-size: 1.1rem;
}

.login form select{
    border: none;
    font-size: 1.1rem;

}

.login form textarea{
    width: 420px;
    height: 100px;
    border: none;
    font-size: 1.1rem;

}

.login form button{
    width: 10rem;
    height: 30px;
    background: #ec1839;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Testimonials */

.slider{
    background: #eff2f5;
    height: 370px;
    margin-left: 6rem;
    width: 40rem;
}

.slider h3{
    text-align: center;
    margin-left: 3rem;
}


.slide{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    gap: 50px;
}

.card {
    background: #fefefe;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid  rgb(0, 0, 0);
    transition: .7s ease-in-out;
}

.card:hover{
    transform: translateY(20px);
}

.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}


/* company */
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.company{
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
    margin-right: ;
}

.company:hover .cont{
    animation-play-state: paused;
}

.cont{
    display: inline-block;
    animation: 5s slide infinite linear;
    margin-left: 30rem;
    width: 40rem;
}
.cont img{
height: 50px;
margin: 0 80px;
}






}